<h1><i><b>{{ url }}</b></i> Is Dead</h1>
<hr>
<h2>Time: {{ time }}</h2>
<br>
<p>This is a notice that <i><b>{{ url }}</b></i> is not reachable. We will check it again in 1 minutes, if it is still unreachable by then, we will change our intervals to 1 hours instead until it became available again. This is to prevent your inbox being flooded by our notices. We will of course notify you when <i><b>{{ url }}</b></i> is back alive.</p>
<br>
<p>If you would like to terminate the uptime monitoring, please take a note of this key <i><b>{{ key }}</b></i> and submit it at <a href="https://uptime.anth.dev/teminate">https://uptime.anth.dev/teminate</a> </p>
<br>
<p>Thank you for using our service, we hope that you will not receive any further email from us :P have a great day :D</p>